<div class="row">
    <div class="col-xs-12">
        <img src="https://th.bing.com/th/id/OIP.B2GQa3ZlRud90KTQe2RcEwHaEH?w=330&h=183&c=7&r=0&o=5&dpr=1.4&pid=1.7"
        alt="Biriyani recipe" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>Biriyani Recipe</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn  btn-primary dropdown-toggle" type="button">
               Manage <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>Add ingerdients</li>
                <li>Edit Recipe</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>Description</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>Ingerdients</p>
    </div>
</div>